<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolio</h3>
            <h1>See My Latest Projects.</h1>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/mvccv.jpg" class="thumb-link" title="Dynamic CV Site with MVC" data-size="1050x700">
                            <img src="/hola-master/images/mvccv.jpg"
                                 srcset="/hola-master/images/mvccv.jpg 1x, /hola-master/images/mvccv.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Dynamic CV Site with MVC
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://github.com/boraygulpinar/MVC_CV" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <a href="https://github.com/boraygulpinar/MVC_CV" target="_blank">Visit Github</a>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/prtflio.jpg" class="thumb-link" title="Lighthouse" data-size="1050x700">
                            <img src="/hola-master/images/prtflio.jpg" height="1000" width="800"
                                 srcset="/hola-master/images/prtflio.jpg 1x, /hola-master/images/prtflio.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            This Project
                        </h3>
                        <p class="item-folio__cat">
                            Web Design
                        </p>
                    </div>

                    <a href="https://github.com/boraygulpinar/MVC_CV" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <a href="https://github.com/boraygulpinar/MVC_CV">Visit Github</a>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/corefirstentity.jpg" class="thumb-link" data-size="1050x700">
                            <img src="/hola-master/images/corefirstentity.jpg" height="900" width="700"
                                 srcset="/hola-master/images/corefirstentity.jpg 1x, /hola-master/images/corefirstentity.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            CodeFirstEntity-MVC
                        </h3>
                        <p class="item-folio__cat">
                            Web Design
                        </p>
                    </div>

                    <a href="https://github.com/boraygulpinar/CodeFirstEntity-MVC" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <a href="https://github.com/boraygulpinar/CodeFirstEntity-MVC" target="_blank">Visit Github</a>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/runnincube.jpg" class="thumb-link" data-size="1050x700">
                            <img src="/hola-master/images/runnincube.jpg" height="500" width="400"
                                 srcset="/hola-master/images/runnincube.jpg 1x, /hola-master/images/runnincube.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Runnin Cube
                        </h3>
                        <p class="item-folio__cat">
                            Game Development
                        </p>
                    </div>

                    <a href="https://github.com/boraygulpinar/Runnin-Cube" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <a href="https://boraygulpinar.itch.io/" target="_blank">Visit itch.io</a>
                        <a href="https://github.com/boraygulpinar/Runnin-Cube" target="_blank">Visit Github</a>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/Screenshot_1.jpg" class="thumb-link" data-size="1050x700">
                            <img src="/hola-master/images/Screenshot_1.jpg"
                                 srcset="/hola-master/images/Screenshot_1.jpg 1x, /hola-master/images/Screenshot_1.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            2D Bandit Action
                        </h3>
                        <p class="item-folio__cat">
                            Game Development
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <a href="https://boraygulpinar.itch.io/" target="_blank">Visit itch.io</a>
                        <a href="https://github.com/boraygulpinar/2D-Bandit-Action" target="_blank">Visit Github</a>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/froggame.jpg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/froggame.jpg" height="500" width="400"
                                 srcset="/hola-master/images/froggame.jpg 1x, /hola-master/images/froggame.jpg.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            2D Platformer
                        </h3>
                        <p class="item-folio__cat">
                            Game Development
                        </p>
                    </div>

                    <a href="https://github.com/boraygulpinar/2DPlatform" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <a href="https://boraygulpinar.itch.io/" target="_blank">Visit itch.io</a>
                        <a href="https://github.com/boraygulpinar/2DPlatform" target="_blank">Visit Github</a>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/birdclone.jpg" class="thumb-link" data-size="1050x700">
                            <img src="/hola-master/images/birdclone.jpg" height="450" width="450"
                                 srcset="/hola-master/images/birdclone.jpg 1x, /hola-master/images/birdclone.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            2D BirdGame
                        </h3>
                        <p class="item-folio__cat">
                            Game Development
                        </p>
                    </div>

                    <a href="https://github.com/boraygulpinar/2DBirdGame" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <a href="https://boraygulpinar.itch.io/" target="_blank">Visit itch.io</a>
                        <a href="https://github.com/boraygulpinar/2DBirdGame" target="_blank">Visit Github</a>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

</section>