# C# kodlarını önceliklendir
*.cs linguist-language=C#
*.cshtml linguist-language=HTML

# JavaScript oranını doğru göster
*.js linguist-language=JavaScript

# Gereksiz dosyaları dil analizinden çıkar
bin/* linguist-generated
obj/* linguist-generated
*.dll linguist-generated
*.exe linguist-generated
